{% extends 'OutLine.html' %}
{% load static %}
{% block titile %}
List Page
{% endblock %}


{% block block %}


<h3>All Details</h3>
<h2>Malayalam Movies</h2>
<i>Check out the list of all latest Malayalam movies </i>


<hr>
<table border="1px" style="padding:40px">
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Description</th>
        <th>Edit/Delete</th>

    </tr>
    {% for i in key %}
    <tr>
        <td>{{i.Movie_Title|upper}}</td>
        <td>{{i.ReleasedYear}}</td>
        <td>{{i.Description | default:'no data'}}</td>
        <td><a href="{% url 'edit' i.id %}">Edit</a>/<a href="{% url 'delete' i.id %}">Delete</a></td>

    </tr>
    {% endfor %}
</table>

{% endblock %}

